<h1> HEllo oVerlAy</h1>

<button (click)="increment()">inrement coun</button>
<span style="color: burlywood">{{counter}}</span>
<div>
  <button (click)="closeFromInside()">close myself</button>
</div>
