<button>add target</button>
<button (click)="open()" >open container</button>
<button (click)="openAndscroll()" style="margin-bottom: 20px">open container and scroll</button>
<button (click)="openOverlay()" style="margin-bottom: 20px">open overlay</button>
<button (click)="closeOverlay()" style="margin-bottom: 20px">close overlay</button>


<div class="container" *ngIf="isOpen">
<app-target-list [targets]="targets" [targetIdToScroll]="targetIdToScroll"></app-target-list>
</div>

